</div>
    <!-- 侧边栏  end-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/amazeui.min.js"></script>
    <script src="/assets/js/iscroll.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- 引入的bootstrap -->
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/jquery.1.12.4.min.js"></script>
	
</body>

</html>