<!-- 引入公有的头部 -->
<% include header%>

        <!-- 管理的内容块 -->
        <div class="tpl-content-wrapper ">
            <div class="page-header adminIndex">
           		<ul id="index_list">
           			<li>
           				<h1>欢迎来到爱读书,读好书的后台!</h1>
           			</li>
           			<li>
           				<span>For the first time, he thought he was charming.

Why didn't you notice it?

She said she had never felt in love with him.

But at the moment the bride and groom called the ring, her heart ached.

You can hear your heartbreak. Today's hero is not you.

Whether she is Cinderella or not, the princess of today is not you.

Because he didn't have a cell phone, so he could call her. He has to go a long way to the nearby telephone booth.

It's cold in winter.

She didn't know he was freezing here. He just wanted to hear her voice.</span>
           			</li>
           			<li>
           				<a href="/admin/login"><p><em>Learn More</em></p></a>
           			</li>
           		</ul>
            </div>
        </div>
         <!-- 管理的内容块  end-->

<!-- 引入公有的底部 -->
<% include footer%> 